/* ------------------------------ */
/* カスタムプロパティ */
/* ------------------------------ */

/* カラー */
:root{
    --color-bg-base: #fff;
    --color-bg-light: #eceff4;
    --color-bg-blue: #012F76;
    --color-bg-button: #4c566a;
    --color-bg-button-hover: #2e3440;
    --color-bg-icon: #d8dee9;
    --color-icon: #5e81ac;
    --color-icon-light: #eceff4;
    --color-font-light: #eceff4;
    --color-font-base: #4c566a;
    --color-logo: #4c566a;
}
/*フォント*/
:root{
    --font-family-base: "Noto Sans JP", sans-serif;
}

/* ------------------------------ */
/* 全体共通のスタイル */
/* ------------------------------ */

html{
    background-color: var(--color-bg-base);
}

body{
    line-height: 1.75;
    font-size: 14px;
    color: var(--font-family-base);
}
@media screen and (min-width: 768px){
    body{
        font-size: 16px;
    }
}

/* ------------------------------ */
/* ちょっとした使い回すスタイル */
/* ------------------------------ */

.u-visually-hidden{
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

/*キービジュアル*/
.top-kv{
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向に中央配置 */
    align-items: center; /* 垂直方向に中央配置（必要なら） */
    margin: 0 auto;
    background-color: var(--color-bg-blue);
    padding: 40px 0;
}
.top-kv-img {
    display: flex; /* フレックスボックスを適用 */
    justify-content: center; /* 水平方向に中央配置 */
    align-items: center; /* 垂直方向に中央配置 */
}
