/* ------------------------------ */
/* カスタムプロパティ */
/* ------------------------------ */

/* カラー */
:root{
    --color-bg-base: #fff;
    --color-bg-light: #eceff4;
    --color-bg-blue: #012F76;
    --color-bg-button: #4c566a;
    --color-bg-button-hover: #2e3440;
    --color-bg-icon: #d8dee9;
    --color-icon: #5e81ac;
    --color-icon-light: #eceff4;
    --color-font-light: #eceff4;
    --color-font-base: #4c566a;
    --color-logo: #4c566a;
}

/* フォント */
:root{
    --font-family-base: "Noto Sans JP", sans-serif;
}

/* ------------------------------ */
/* 全体共通のスタイル */
/* ------------------------------ */

html {
    background-color: var(--color-bg-base);
}

body {
    line-height: 1.75;
    font-size: 14px;
    color: var(--color-font-base); /* 修正 */
    font-family: var(--font-family-base); /* 追加 */
}

/* キービジュアル */
.top-kv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-blue);
    width: 393px; /* 横幅を固定 */
    height: 608px; /* 高さを固定 */
    margin: 0 auto; /* ページ中央に配置 */
    overflow: hidden; /* 画像のはみ出し防止 */
}

.top-kv img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 画像の縦横比を維持しつつ収める */
}

/* 393×852 の四角 */
.bottom-box {
    width: 393px; /* 横幅を固定 */
    height: 852px; /* 高さを固定 */
    background-color: var(--color-bg-blue); /* 同じ背景色 */
    margin: 0 auto; /* ページ中央に配置 */
}
